.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        rnom
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "icon" do
          = icon('fas', 'edit')
        = link_to "#", class: "icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list__box
      .side-bar__group-list__box__group-name
        Test
      .side-bar__group-list__box__messages
        まだメッセージがありません
  